<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tecnologias NodeJS</title>
  </head>
  <body>
    <div class="container">
      <p>Tecnologias baseadas em NodeJS</p>
      {{{listNodeJsTech technologies}}}
    </div>
  </body>
</html>